.flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute; }
  .flex:hover {
    background-color: #eee; }
    .flex:hover .menuh a {
      color: #999;
      border-bottom: 0.5px solid #1C2135; }
    .flex:hover .sub-menu a {
      border-bottom: none; }

.cabecario {
  background-color: #ddd;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .cabecario .wrap-column {
    padding: 20vh 0;
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .cabecario .continue {
    text-align: center;
    margin: 50px; }
    .cabecario .continue a {
      color: #ddd;
      font-size: 28px;
      font-weight: 100;
      border: 1px solid #eee;
      border-radius: 3px;
      padding: 5px; }
      .cabecario .continue a:hover {
        color: #eee;
        border-color: #eee; }
  .cabecario .intro {
    font-size: 22px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center; }
  .cabecario .materia {
    text-align: center;
    color: #eee; }
  .cabecario .intro, .cabecario .materia {
    font-weight: 500;
    color: #eee;
    font-family: 'open sans condensed'; }
  .cabecario .wrap {
    display: flex; }

.logosi {
  color: #333;
  font-size: 28px;
  font-weight: 600;
  font-family: 'open sans condensed'; }

.busca {
  margin: 10px 0;
  padding: 0;
  white-space: nowrap; }
