*
  margin: 0
  padding: 0
  // font-family: 'open sans condensed'
  font-family: arial
a
  text-decoration: none
button
  background-color: inherit
  border: inherit
  color: #ddd

ul
  list-style-type: none
.materia,
.titulo,
.sub-titulo,
.intro,
.logosi,
.title,
  font-family: 'open sans condensed'

.wrap
  width: 100%
  max-width: 1000px
  margin: 0 auto
.fa
  padding: 0 5px

.box
  // display: flex
  // border-right: 1px solid #ddd
  padding: 40px 0
  min-height: 90vh
  width: 100%
  margin: 0 auto

.menuv
  max-width: 100%
.td-conteudo
  // background-color: #f5f5f5
  // border: 1px solid #ccc
  width: 100%
// @import "bower_components/breakpoint-sass/stylesheets/breakpoint"
@import "header"
@import "nav-menu"
@import "menu-mobile"
@import "conteudo"
@import "footer"
@import "plugins"
@import "mixins"
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"
