
*
  margin: 0
  padding: 0
  // font-family: 'open sans condensed'
  font-family: arial
body
  // background-color: #ddd
a
  text-decoration: none
button
  background-color: inherit
  border: inherit
  color: #ddd

ul
  list-style-type: none
.wrap
  width: 100%
  max-width: 1000px
  margin: 0 auto
.fa
  padding: 0 5px

.box
  // display: flex
  // border-right: 1px solid #ddd
  padding: 20px 0
  min-height: 90vh

.menuv
  max-width: 100%
.td-conteudo
  // background-color: #f5f5f5
  // border: 1px solid #ccc
  width: 100%
@import "header.sass"
@import "nav-menu.sass"
@import "conteudo.sass"
@import "footer.sass"
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700')
// @import "node-modules/breakpoint-sass/stylesheets/breakpoint.scss"
