@import "atom/mixins"
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"

*
  margin: 0
  padding: 0
  font-family: arial
body
  background-color: #eee
ul
  list-style-type:
a
  text-decoration: none
.fixed
  background-color: #333
.wrap
  max-width: 1200px
  margin: 0 auto
.fa
  padding-right: 5px
.titulo-home
  text-align: center
  border: none
  +flexbox
  flex-direction: column
  // border-right: 1px solid #ddd
  padding-top: 10px
  // min-height: 90vh
  +breakpoint($celular)
  .um
    +font-size(90)
    color: $branco
    font-family: 'open sans condensed'
    +breakpoint($celular)
      +font-size(30)

  .dois
    +font-size(30)
    font-family: 'Lobster two'
    color: #aaa
    +breakpoint($celular)
      +font-size(16)
.menuv
  max-width: 100%
.mtop
  margin-bottom: 30vh
  border: 1px solid #ccc
  width: 100%
  background-color: #fff
  border-radius: 10px
.cabecario
  +flexbox
  flex-direction: column
  justify-content: space-around
  background-color: #555
  min-height: 100vh
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-attachment: fixed
  .flex
    padding: 0 !important
    height: 100vh
    width: 100%
    flex-direction: column
    justify-content: space-between
  .logosi
    text-align: center
    background-color: rgba(0, 0, 0, 0.7)
    font-size: 30px
    padding: 15px 0
  .wellcome
    color: #fff
    text-align: center
    padding-top: 50vh
    text-shadow: 1px 1px 1px #000
    font-size: 50px !important
.home-menuh
  +flexbox
  margin: 40px
  +breakpoint ($celular)
    flex-direction: column
    margin: 0

    // &:first-child
      visibility: visible
.home-menuv
  margin: 40px
  padding: 10px
  list-style: none
  border-left: 2px solid #ccc
  width: 250px
  +breakpoint($celular)
    margin: 20px
  a
    color: $branco
    padding: 5px 0
    display: block
    +font-size(18)
    &:hover
      +transition(.2s)
      margin-left: 5px
.title
  font-weight: 600
  color: #ccc
  padding-bottom: 10px
  +font-size(18)
.texto
  +font-size(30)

@import "atom/plugins"
// @import "moleculas/nav-menu"
// @import "organism/header"
@import "organism/conteudo"
// @import "organism/footer"
// @import "node-modules/breakpoint-sass/stylesheets/breakpoint.scss"
