@import "mixins"
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"


// MENU DARK
.dark
  color: #eee
  background-color: rgba(68, 68, 68, 0.8)

// MENU LIGTH
.light
  color: #777 !important
  background-color: #eee

.menu-fixo
  position: fixed
  box-shadow: 0 -3px 10px #000
  padding-top: 15px
  +breakpoint($celular)
    padding-top: 0
.home-menuh
  display: flex
  margin: 40px

    // &:first-child
      visibility: visible

.home-menuv
  margin: 40px
  padding: 5px
  list-style: none
  border-left: 2px solid #ccc
  width: 250px
  .title
    font-weight: 600
    color: #ccc
    padding-bottom: 50px
    font-size: 18px
  a
    color: #ccc
    text-decoration: none
    padding: 5px
    display: block
    &:hover
      margin-left: 5px
      transition: 0.25s
// .menuh
  +breakpoint ($celular)
    display: none
.menuh, .menuv
  .mtop
    list-style-type: none
    display: flex
    min-width: 100%
    justify-content: space-between
    +breakpoint ($celular)
      li
        display: none
        // .fa
          display: block
      li:first-child
        display: block
        font-size: 0
        .fa
          // display: b
          font-size: 20px
          visibility: visible

  a, label
    white-space: nowrap
    text-decoration: none
    display: block
    padding: 10px
    color: #ddd
  span
    display: flex
    color: #ddd
    .fa
      margin: auto 0
nav.menuv
  border-radius: 5px
  background-color: #f9f9f9
  a
    border-bottom: 1px solid #ddd
    color: #444
    &:hover
      border-left: 10px solid #014F80
      transition: 0.25s
      color: #0088cc
  .menu-ul
    width: 250px
    display: block !important
    overflow: auto
    .mtitulo
      background-color: #014F80
      color: #f2f2f2
      padding: 30px 0 10px 20px
      font-weight: 600
.sub-menu
  visibility: hidden
  padding: 20px 5px
  position: absolute
  a
    display: block
    border-left: 2px solid #08c
.mtop li:hover .sub-menu
  display: block
  visibility: visible
  transition-delay: 0s, 0s, 0.3s
