@import "atom/mixins"
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"
.mobile
  padding: 10px
.toggle, .btnToggle
    display: none
    color: $cinza-claro
    font-size: em(20)
    .fa
      padding: 0
    +breakpoint ($celular)
      display: block
      // font-size: em(60)
.ativo
  left: 0px !important
  // transition: .3s

.menu-mobile
  border-top: 1px solid $cinza-claro
  left: -2380px
  display: none
  width: 100%
  max-width: 70%
  position: absolute
  height: 95vh
  +transition(.4s)
  // background-color: $cinza-claro
  flex-direction: column
  justify-content: space-between
  // bottom: 0
  top: 44px
  li
    list-style: none

  a
    color: $cinza-claro
    padding: 5px
    display: block
    font-size: em(18)
    // font-weight: 600
    &:hover,
    &:focus
      color: $azul
  .temas
    margin: 0px 10px
    overflow: auto
    a
     border-bottom: 1px solid rgba($preto, 0.2)
    li:first-child
      a
        font-weight: bold
        border-bottom: 1px solid rgba($azul, .2)
        margin-bottom: 10px
  .disciplinas
    margin: 15px 10px 40px 10px
    border-top: 1px solid $azul
    bottom: 0
    // padding-bottom: 50px
  +breakpoint ($celular)
    +flexbox
