@import "atom/mixins"
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"
.mobile
.toggle, .btnToggle
    padding: 10px
    display: none
    color: #fff
    font-size: em(20)
    .fa
      padding: 0
    +breakpoint ($celular)
      display: block

.menu-mobile
  // border-top: 1px solid $cinza-claro
  // left: -2380px
  // overflow:
  overflow: auto
  left: 0
  display: none
  width: 100%
  max-width: 80%
  position: absolute
  height: 100vh
  // white-space: nowrap
  flex-direction: column
  justify-content: space-between
  // bottom: 0
  top: 44px
  li
    list-style: none

  a
    color: $cinza-claro
    padding: 5px
    display: block
    font-size: em(18)
    // font-weight: 600
    +breakpoint($celular)
      padding: 8px 5px
    &:hover,
    &:focus
      color: $azul
  .temas
    margin: 0px 10px
    a
     border-bottom: 1px solid rgba($preto, 0.1)
     padding-left: 28px
    li:first-child
      a
        font-weight: bold
        border-bottom: 1px solid rgba($azul, .2)
        margin-bottom: 10px
  .disciplinas
    margin: 15px 10px 40px 10px
    border-top: 1px solid $azul
    bottom: 0
    // padding-bottom: 50px
  +breakpoint ($celular)
